@keyframes notebook {
    0% {
        width: 50%
    }

    100% {
        width: 0
    }
}

.notebook-front {
    background-color: #fffaee;
    width: 50%;
    animation-duration: 5s;
    animation-delay: 3s;
    float: left;
    animation-name: notebook;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999
}

.notebook-front img {
    width: auto;
    max-width: 10.9375rem
}

@media only screen and (min-width: 48em) {
    .notebook-front img {
        max-width:18.75rem
    }
}

.notebook-parent {
    visibility: hidden;
    opacity: 0;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 2;
}